/*
 * Piwiktracking Admin stylesheet
 */
.piwiktracking-settings label {
	display: block;
	float: left;
	width: 200px;
	margin-right: 10px;
}
ul.ui-tabs-nav {
	margin: 0;
}
.ui-tabs-nav li {
	display: inline;
}
